* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a {
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    margin-right: 30px;
}
.logo{
    width: 128px;
    margin: 20px 0px 5px 50px;
}
.menu {
    width: 100%;
    font-size: 14px;
}
.menu-top{
    border-bottom: 1px solid #333;
    margin-top: 20px;
}
.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
.menu-top .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 15px; /* Đặt margin-right là 0 để cân đối với trang */
    text-transform: uppercase;
    text-align: left;
    line-height: 21px;
}
.nav-link:hover {
    color: #ff0000;
}
.nav-link:focus{
    color: #ff0000;
}
.menu-bottom{
    position: relative;
}
.menu-bottom .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 25px; /* Đặt margin-right là 0 để cân đối với trang */
    text-align: left;
    line-height: 21px;
}
.LH {
    position: relative;
    top: -30px;
    margin-left: 10px;
}
body {
    margin: 0px;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif !important;
    color: #000000;
}
.title{
    text-align: center;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 48px;
}
.container {
    margin: 0;
    padding: 0;
}
.dv-main{
    margin: 0;
    position: relative;
}
.dv-main> img{
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
}
.dv-main1{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 20%;
    left: 10%;
    width: 100%;
    max-width: 540px;
    padding: 20px 30px;
}
.dv-main1 h2{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.dv-main1 h4{
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
    line-height: normal;
}
.more{
    display: flex;
    padding: 0px 90px;
}
.more a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    background: #C3002F;
    color: #FFFFFF !important;
    text-transform: uppercase;
    width: 100%;
    margin: 10px auto;
    position: relative;
    justify-content: space-between;
}
.more a i {
    position: absolute;
    right: 15px;
    top: 17px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 14px;
}
.title2{
    
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.dv-hen{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 50px 0;
}
.dv-hen1{
   width: 35%;
}
.dv-hen1 h4{
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    margin: 20px 0;
    text-align: center;
    line-height: normal;
}
.btn-hen{
    background-color: #c3002f;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 20px;
    color: #fff;
    width: max-content;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: normal;
    margin-bottom: 80px ;
}

.btn-hen a{
    color: #fff;
}
.btn-hen p{
    font-size: 15px;
}
.dv-und{
    margin: 100px 250px ;
    text-align: center;
    
}
.title3{
    position: relative;
}
.title3 h3{
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 60px;
}
.title3 h3::before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #c3002f;
    position: absolute;
    top: 0;
    left: 0;

}
.title3 p img{
    width: 100vw !important;
    height: auto !important;
    margin-left: calc((1170px - 100vw) / 2);  
}
.lydo-sd{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.lydo-sd1{
    padding: 0px 15px;
}
.lydo-sd1 h3{
    font-size: 26px;
    font-weight: 500;
    margin: 20px 0;
    color: #000000;
    text-align: center;
    line-height: normal;
    height: 64px;
}
.dv-und h4{
    font-size: 14px;
    color: #000000;
    margin: 20px 0;
    padding: 30px 0;
    text-align: center;
    line-height: normal;
}
.expend{
    background: #eeeeee;
    padding: 80px 0;
}
.title4 {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 80px;
}
.expend1{
    margin: 0 100px;
}
.action{
    text-align: center;
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
}
.action a{
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
}
.action a span{
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}
.action a::after{
    display: block;
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #c3002f;
}
.action a:hover::after{
    display: block;
}
footer {
    width: 100%;
    background-color: #232323;
    color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-btt {
    width: calc(100%-30%);
    margin-left: 30px;
}
.footer-title {
    width: 25%;
}
ul{
    padding-left: 2rem;
    margin-bottom: 1rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact li a {
    color: #ffff;
    font-size: 18px;
}
.social {
    width: 25%;
    gap: 10px;
}
.social h4 {
    margin-left: 30px;
    margin-bottom: 50px;
}
.contact-social {
    display: flex;
    gap: 10px;
}
.contact-social a {
    color: #ffff;
}
.contact-social .bi {
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #c1c1c1;
}
.footer-btt-content strong,
.footer-btt-content p {
    font-size: 15px;
}
.footer-btt-content {
    display: flex;
    gap: 7px;
}
.footer-btt {
    margin-top: 30px;
}
.footer-btt-bottom {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    color: #ffff;
    padding: 10px;
}
.totop {
    position: fixed;
    bottom: -100px;
    right: 0%;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.totop img {
    width: 55px;
    height: 55px;
}
.list-options {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons {
    position: fixed;
    bottom: 100px;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 55px;
    
}
.list-icons li{
    height: 54.5px;
}
.list-icons li img {
    border-bottom: 1px solid #ffff;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.list-options .list-titles {
    padding-left: 0px;
    display: none;
}
.list-titles {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 100px;
    right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.list-titles li {
    width: 100%;

    list-style: none;
    display: flex;
}
.list-titles li a {
    width: 100%;
    height: 33.9px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 13px;

}
.list-titles li:not(:last-child) a {
    border-bottom: 1px solid #ffffff;
}
.list-titles li a:hover {
    padding-left: 20px;
    width: 100%;
    background-color: #c3002f;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
