* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a {
    text-decoration: none;
}
body {
    margin: 0px;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif !important;
    color: #000000;
}
.title{
    text-align: center;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 48px;
}
.container {
    margin: 0;
    padding: 0;
}
.dv-main{
    margin: 0;
    position: relative;
}
.dv-main> img{
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
}
.dv-main1{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 20%;
    left: 10%;
    width: 100%;
    max-width: 540px;
    padding: 20px 30px;
}
.dv-main1 h2{
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.dv-main1 h4{
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
    line-height: normal;
}
.more{
    display: flex;
    padding: 0px 90px;
}
.more a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    background: #C3002F;
    color: #FFFFFF !important;
    text-transform: uppercase;
    width: 100%;
    margin: 10px auto;
    position: relative;
    justify-content: space-between;
}
.more a i {
    position: absolute;
    right: 15px;
    top: 17px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 14px;
}
.title2{
    
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.dv-hen{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 50px 0;
}
.dv-hen1{
   width: 35%;
}
.dv-hen1 h4{
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    margin: 20px 0;
    text-align: center;
    line-height: normal;
}
.btn-hen{
    background-color: #c3002f;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 20px;
    color: #fff;
    width: max-content;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: normal;
    margin-bottom: 80px ;
}

.btn-hen a{
    color: #fff;
}
.btn-hen p{
    font-size: 15px;
}
.dv-und{
    margin: 100px 250px ;
    text-align: center;
    
}
.title3{
    position: relative;
}
.title3 h3{
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 60px;
}
.title3 h3::before{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #c3002f;
    position: absolute;
    top: 0;
    left: 0;

}
.title3 p img{
    width: 100vw !important;
    height: auto !important;
    margin-left: calc((1170px - 100vw) / 2);  
}
.lydo-sd{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.lydo-sd1{
    padding: 0px 15px;
}
.lydo-sd1 h3{
    font-size: 26px;
    font-weight: 500;
    margin: 20px 0;
    color: #000000;
    text-align: center;
    line-height: normal;
    height: 64px;
}
.dv-und h4{
    font-size: 14px;
    color: #000000;
    margin: 20px 0;
    padding: 30px 0;
    text-align: center;
    line-height: normal;
}
.expend{
    background: #eeeeee;
    padding: 80px 0;
}
.title4 {
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 80px;
}
.expend1{
    margin: 0 100px;
}
.action{
    text-align: center;
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
}
.action a{
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
}
.action a span{
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}
.action a::after{
    display: block;
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #c3002f;
}
.action a:hover::after{
    display: block;
}