* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a {
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    margin-right: 30px;
}
.logo{
    width: 128px;
    margin: 20px 0px 5px 50px;
}
.menu {
    width: 100%;
    font-size: 14px;
}
.menu-top{
    border-bottom: 1px solid #333;
    margin-top: 20px;
}
.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
.menu-top .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 15px; /* Đặt margin-right là 0 để cân đối với trang */
    text-transform: uppercase;
    text-align: left;
    line-height: 21px;
}
.nav-link:hover {
    color: #ff0000;
}
.nav-link:focus{
    color: #ff0000;
}
.menu-bottom{
    position: relative;
}
.menu-bottom .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 25px; /* Đặt margin-right là 0 để cân đối với trang */
    text-align: left;
    line-height: 21px;
}
.LH {
    position: relative;
    top: -30px;
    margin-left: 10px;
}
a:hover{
    text-decoration: none !important;
    color: #c3002f;
}
body {
    margin: 0px;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif !important;
    color: #000000;
    font-size: 14px;
    line-height: 1.42857143;
}
body a{
    color: #000;;
}
.title{
    text-align: center;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 48px;
}
.container{
    margin: 10px 200px;
}
.agency_infor{
    float: left;
    width: 35%;
}
.search{
    padding: 20px;
    background: #000000;
}
.search form input{
    float: left;
    height: 44px;
    width: 80%;
    padding-left: 10px;
    border: none;
}
.search form input:focus{
    outline: none;
}
.search form button{
    float: left;
    height: 44px;
    width: 20%;
    background-color: #C3002F;
    box-shadow: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
form>div{
    display: flex;
}
.search form button i{
    font-size: 25px;
    color: #ffffff;
}
.fa{
    display: inline-block;
}
.list_agency{
    padding: 0px 20px 20px 20px;
    display: inline-block;
    background: #F9F9F9;
    overflow-y: scroll;
    height: 620px; 
}
.item{
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;  
}
.item .icon_logo{
    float: left;
    width: 20%;
}
.item .info_agency{
    float: left;
    width: 80%;
}
.name_agency{
    font-size: 14px;
    font-family: MontserratBold;
    text-transform: uppercase;
    margin: 0;
}
.phone_agency{
    padding: 10px 0;
    font-size: 14px;
    color: #343434;
}
.fa-phone{
    color: #C3002F;
    padding-right: 10px;
    font-size: 17px;
}
.fa-chevron-right{
    color: #C3002F;
    padding-left: 30px;
}
.address_agency{
    font-size: 14px;
    line-height: 23px;
    color: #343434;
}
.detail_agency{
    font-size: 14px;
    color: #343434;
    line-height: 23px;
    padding: 10px 0;
}
.list_agency::-webkit-scrollbar {
    width: 4px;
    color: #ffffff;
}
.list_agency::-webkit-scrollbar-thumb {
    background: #ffffff;
}
.map{
    float: left;
    width: 65%;
}
footer {
    width: 100%;
    background-color: #232323;
    color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-btt {
    width: calc(100%-30%);
    margin-left: 30px;
}
.footer-title {
    width: 25%;
}
ul{
    padding-left: 2rem;
    margin-bottom: 1rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact li a {
    color: #ffff;
    font-size: 18px;
}
.social {
    width: 25%;
    gap: 10px;
}
.social h4 {
    margin-left: 30px;
    margin-bottom: 50px;
}
.contact-social {
    display: flex;
    gap: 10px;
}
.contact-social a {
    color: #ffff;
}
.contact-social .bi {
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #c1c1c1;
}
.footer-btt-content strong,
.footer-btt-content p {
    font-size: 15px;
}
.footer-btt-content {
    display: flex;
    gap: 7px;
}
.footer-btt {
    margin-top: 30px;
}
.footer-btt-bottom {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    color: #ffff;
    padding: 10px;
}
.totop {
    position: fixed;
    bottom: -100px;
    right: 0%;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.totop img {
    width: 55px;
    height: 55px;
}
.list-options {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons {
    position: fixed;
    bottom: 100px;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 55px;
    
}
.list-icons li{
    height: 54.5px;
}
.list-icons li img {
    border-bottom: 1px solid #ffff;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.list-options .list-titles {
    padding-left: 0px;
    display: none;
}
.list-titles {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 100px;
    right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.list-titles li {
    width: 100%;

    list-style: none;
    display: flex;
}
.list-titles li a {
    width: 100%;
    height: 33.9px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 13px;

}
.list-titles li:not(:last-child) a {
    border-bottom: 1px solid #ffffff;
}
.list-titles li a:hover {
    padding-left: 20px;
    width: 100%;
    background-color: #c3002f;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
