* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a {
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    margin-right: 30px;
}
.logo{
    width: 128px;
    margin: 20px 0px 5px 50px;
}
.menu {
    width: 100%;
    font-size: 14px;
}
.menu-top{
    border-bottom: 1px solid #333;
    margin-top: 20px;
}
.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
.menu-top .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 15px; /* Đặt margin-right là 0 để cân đối với trang */
    text-transform: uppercase;
    text-align: left;
    line-height: 21px;
}
.nav-link:hover, .nav-link:focus{
    color: #ff0000;
}
.nav-link:focus{
    color: #ff0000;
}
.menu-bottom{
    position: relative;
}
.menu-bottom .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 25px; /* Đặt margin-right là 0 để cân đối với trang */
    text-align: left;
    line-height: 21px;
}
.LH {
    position: relative;
    top: -30px;
    margin-left: 10px;
}
body {
    margin: 0px;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif !important;
    color: #000000;
}
.banner{
    width: 100%;
    height: auto;
}
.banner image{
    width: 100%;
    
}
.box_infor{
    background-color: #1d83c1;
    padding: 70px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.box_infor .left{
    width: 45%;
    border-left: solid 1px #ffffff;
    font-size: 26px;
    color: #fff;
    padding: 17px 0 17px 30px;
    text-align: justify;
    line-height: normal;
}
.box_infor .right{
    width: 55%;
}
.top{
    margin: auto;
    padding-bottom: 24px;
}
.top p{
    font-size: 14px;
    color: #fff;
}
.bottom{
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.bottom a{
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 12px 5px;
    border: solid 1px #fff;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}
.bottom p:first-child a{
    color: #000000;
    background: #fff;
}

/* css slider*/
.slider{
    width: 100%;
    height: 900px;
    margin-top: 50px;
    position: relative;
    text-align: center;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider .list .item .content{
    position: absolute;
    left: 52%;
    top: 10%;
    width: 700px;
    max-width: 90%;
    z-index: 1;
    color: white;
    transform: translateX(-50%);
    font-size: 24px;

}
.android{
    position: relative;
    text-align: center;
    
}
.android ul{
    display: flex;
    list-style: none;
    width: 500px;
    background-color: white;
    border-radius: 50px;
    padding: 12px 0px;
    gap: 20px;
    margin: 10px auto;
}
.android ul li:first-child a{
    padding: 12px 44px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
}
.android ul li:nth-child(2) a{
    
    background-color: white;
    color: black;
    border-radius: 30px;
}
.new{
    position: absolute;
    background-color: red;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    font-size: 10px;
    align-items: center;
    font-weight: 700;
    line-height: 40px;
    top: -20px;
    left: 80px;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
.arrows{
    position: absolute;
    display: grid;
    bottom: 50px;
    left: 24%;
    z-index: 100;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 800px;
    

}
.arrows button{
    background-color: aliceblue;
    border: none;
    font-family: monospace;
    text-align: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: x-large;
    color: #000000;
    transition: .5s;
    cursor: pointer;
}
.thumbnail{
    position: absolute;
    top: -30px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 80%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    left: 90px;
    
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 200px;
    height: 100px;
    filter: brightness(.5);
    transition: .5s;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.baohanh img{
    width: 100%;
    
}
.cauhoi{
    padding: 80px 50px;
    width: 100%;
    gap: 0px;
    display: flex;
    background-color: #1d83c1;
}
.cauhoi .left{
    display: flex;
    align-items: center;
    gap: 10px;
    transform: rotate(-90deg);
    color: #fff;
}
.cauhoi .left p{
    display: block;
    width: 120px;
    height: 1px;
    background-color: #fff;
    
}
.cauhoi .right h3{
    font-size: 24px !important;
    color: #fff;
    text-align: justify;
    line-height: normal;
}
.cauhoi .right h4{
    color: #fff;
    margin: 20px 0 40px 0;
}
.cauhoi .right a{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 12px 44px;
    border: solid 1px #fff;
    border-radius: 30px;
    width: 100%;
    max-width: 337px;
    text-align: center;
    display: block;
}



.box_color{
    padding: 52px 0 60px 0;
    margin: 0 300px;
    margin-bottom: 550px;
}
.box_color .left{
    float: left;
    width: 80%;
}
.slide_colorcar{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide_colorcar .item{
    display: none;

}
.slide_colorcar .item.active{
    display: block;
}

.slide_colorcar .item img{
    width: 100%;

    object-fit: cover;
}
.box_color .right{
    float: left;
    width: 15%;
}
.slide_thum{
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 0;
}
.item_slide.active::after{
    content: "";
    position: absolute;
    width: 22px;
    height: 17px;
    background-image: url(https://www.nissanvietnam.vn/modules/products/assets/images/icon_done.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: 75% 50%;
}
.item_slide{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 8px solid #fff;
    margin: 0 7.5px;
    -webkit-box-shadow: 0 2px 10px black;
    box-shadow: 0 2px 10px black;
    position: relative;
    cursor: pointer;
}
.dowl a{
    padding: 15px 50px;
    background-color: #000000;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    margin: 0px 50px;
    font-weight: bold;
    font-size: 16px;
}
.dowl{
    text-align: center;
}
.design {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 300px;
  }
  
  .design.left {
    flex-basis: 50%;
    padding-right: 30px;
  }
  
  .design .left h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .design .left h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .design .left p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .more {
    display: flex;
    align-items: center;
  }
  
  .more p {
    margin-left: 20px;
  }
  
  .more a {
    color: #333;
    text-decoration: none;
  }
  
  .design .right {
    flex-basis: 50%;
  }
  
  .slide_design {
    width: 500px;
    height: 420px;
  }
  
  .list {
    display: flex;
    transition: 1s;
  }
  
  .item_design {
    width: 100%;
    padding: 0 15px;
    transition: opacity 1s ease-in-out;
    display: none;
    opacity: 0;
    
  }
  
  .item_design img {
    width: 100%;
    object-fit: cover;
  }
  .name h3{
    margin: 20px 0;
  }
  .item_design.active {
    display: block;
    position: relative;
    display: block;
    opacity: 1;

  }
  
  
  
  .design-btn img {
    margin-top: 30px;
    padding: 0 15px;
    cursor: pointer;
  }
  .design-btn img.disabled {
    opacity: 0.5;
    color: gray;
  }
  footer {
    width: 100%;
    background-color: #232323;
    color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-btt {
    width: calc(100%-30%);
    margin-left: 30px;
}
.footer-title {
    width: 25%;
}
ul{
    padding-left: 2rem;
    margin-bottom: 1rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact li a {
    color: #ffff;
    font-size: 18px;
}
.social {
    width: 25%;
    gap: 10px;
}
.social h4 {
    margin-left: 30px;
    margin-bottom: 50px;
}
.contact-social {
    display: flex;
    gap: 10px;
}
.contact-social a {
    color: #ffff;
}
.contact-social .bi {
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #c1c1c1;
}
.footer-btt-content strong,
.footer-btt-content p {
    font-size: 15px;
}
.footer-btt-content {
    display: flex;
    gap: 7px;
}
.footer-btt {
    margin-top: 30px;
}
.footer-btt-bottom {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    color: #ffff;
    padding: 10px;
}