* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, sans-serif !important;
}
html {
    scroll-behavior: smooth;
}
.totop {
    position: fixed;
    bottom: -100px;
    right: 0%;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.totop img {
    width: 60px;
    height: 60px;
}
.list-options {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons {
    position: fixed;
    bottom: 100px;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.list-icons li img {
    border-bottom: 1px solid #ffff;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.list-options .list-titles {
    padding-left: 0px;
    display: none;
}
.list-titles {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 100px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.list-titles li {
    width: 100%;
    list-style: none;
    display: flex;
}
.list-titles li a {
    width: 100%;
    height: 60px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 0 10px 0px;
    padding-left: 20px;
}
.list-titles li:not(:last-child) a {
    border-bottom: 1px solid #ffffff;
}
.list-titles li a:hover {
    padding-left: 20px;
    width: 100%;
    background-color: #c3002f;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
.menu li a {
    text-decoration: none;
    color: #ffffff;
}
.menu li a:hover {
    color: #fd754c;
}
.menu li {
    list-style: none;
    font-size: 22px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;
    position: relative;
    z-index: 1;
}
.logo img {
    width: 268px;
    height: 241px;
    cursor: pointer;
}
.btn {
    background-color: #c3002f;
    position: relative;
    font-size: 23px;
    display: block;
    width: 250px;
    height: 75px;
    top: 100px;
    left: 60px;
    color: #ffff;
    z-index: 1;
    border-radius: 0px;
}
.btn a {
    width: 100%;
    height: 100%;
}
.btn:hover {
    background-color: #9b0606;
    color: #ffff;
}
body {
    font-family:  Montserrat !important;
    background-color: #ffff;
}
.menu {
    display: flex;
    gap: 40px;
}
section #carouselExampleControls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    object-fit: cover;
    z-index: 0;
}
.banner-btt {
    position: relative;
    z-index: 2;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.banner-btt1 img {
    cursor: pointer;
    z-index: 1;
    width: 240px;
    height: 190px;
    object-fit: cover;
}
.banner-btt2 img {
    cursor: pointer;
    z-index: 1;
    width: 240px;
    height: 190px;
    object-fit: cover;
}
.banner-btt3 img {
    cursor: pointer;
    z-index: 1;
    width: 240px;
    height: 190px;
    object-fit: cover;
}
.banner-btt4 img {
    cursor: pointer;
    z-index: 1;
    width: 240px;
    height: 190px;
    object-fit: cover;
}
.banner-btt5 img {
    cursor: pointer;
    z-index: 1;
    width: 240px;
    height: 190px;
    object-fit: cover;
}
.container aside {
    width: 100%;
    margin: 0 auto;
}
aside h1 {
    margin-left: 50px;
    font-size: 35px;
}
.btn2 {
    background-color: #c3002f;
    font-size: 23px;
    display: block;
    width: 250px;
    height: 65px;
    top: 200px;
    left: 80px;
    color: #ffff;
    z-index: 1;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
}
.btn a {
    color: #ffff;
}
.btn2:hover {
    background-color: #9b0606;
    color: #ffff;
}
.btn2 .bi {
    font-size: 25px;
}
.main-product {
    width: 100%;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-product-right {
    width: 25%;
    margin-bottom: 60px;
}
.main-product-right p {
    font-size: 18px;
}
.main-product-right h3 {
    margin-bottom: 20px;
}
.main-product-left {
    width: 70%;
    object-fit: cover;
}
.main-product-left img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.download {
    background-color: #eeeeee;
    color: #333;
    border: none;
    width: 340px;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.download:hover {
    color: red;
}
.download .bi {
    color: #9b0606;
    font-size: 23px;
}
.product-items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    gap: 40px;
    margin-top: -90px;
    height: 400px;
}
.item-one,
.item-two,
.item-three {
    width: 257px;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-one img,
.item-two img,
.item-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s ease;
}
.item-one img:hover,
.item-two img:hover,
.item-three img:hover {
    transform: translateY(-5px);
}
.item-content {
    transition: all 0.3s ease;
}
.item-content h4 {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.item-one img:hover + .item-content,
.item-two img:hover + .item-content,
.item-three img:hover + .item-content {
    margin-bottom: 40px;
    color: #c3002f;
    border-bottom: 3px solid #c3002f;
}

.infor-more {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    border-top: 1px solid #d8d6d6;
    border-bottom: 1px solid #dcdcdc;
}
.infor-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.infor-content h4 {
    padding-bottom: 20px;
}
.infor-content:hover h4 {
    border-bottom: 3px solid #c3002f;
}
.infor-content {
    width: 70px;
    height: 100px;
}
.infor-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discover {
    width: 100%;
    margin: 30px auto;
}
.discover h1 {
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 35px;
}
.discover-content {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
}
.discover-left {
    width: 65%;
}
.discover-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.discover-right {
    width: 20%;
}
.discover-right h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn3 {
    background-color: #c3002f;
    font-size: 23px;
    display: block;
    width: 200px;
    height: 50px;
    top: 200px;
    left: 80px;
    color: #ffff;
    z-index: 1;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn3:hover {
    background-color: #9b0606;
    color: #ffff;
}
.discover-two {
    width: 100%;
    margin: 30px auto;
}
.discover-two-content {
    display: flex;
    width: calc(100% - 20px);
    height: 600px;
    margin-left: 20px;
    justify-content: space-evenly;
}
.discover-two h1 {
    margin-left: 60px;
    font-size: 35px;
}
.discover-two-left {
    width: 25%;
}
.discover-two-left h3 {
    margin-bottom: 20px;
}
.discover-two-right {
    width: 65%;
}
.discover-two-right img {
    width: 100%;
}
article {
    width: 100%;
    margin: 0px auto 100px auto;
}
.news-product {
    width: calc(100% - 40px);
    margin: 0px 20px 0px 20px;
}
.news-product-items {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
}
.news-product-item {
    width: 25%;
    height: 200px;
    margin-bottom: 60px;
}
.news-product-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 30px;
}
.news-product-item-content h4 a {
    color: #232323;
    text-decoration: none;
    font-weight: 500;
}
footer {
    width: 100%;
    background-color: #232323;
    color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-btt {
    width: calc(100%-30%);
    margin-left: 30px;
}
.footer-title {
    width: 25%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact li a {
    color: #ffff;
    font-size: 20px;
}
.social {
    width: 25%;
    gap: 10px;
}
.social h4 {
    margin-left: 30px;
    margin-bottom: 50px;
}
.contact-social {
    display: flex;
    gap: 10px;
}
.contact-social a {
    color: #ffff;
}
.contact-social .bi {
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #c1c1c1;
}
.footer-btt-content {
    display: flex;
    gap: 7px;
}
.footer-btt-bottom {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #ffff;
    padding: 10px;
}
/* tim hieu them */
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;
    z-index: 1;
}
.header-logo img {
    width: 129px;
    height: 98px;
    cursor: pointer;
}
.header-menu-top ul {
    display: flex;
    gap: 40px;
}
.header-menu-top ul li a {
    color: #000000;
    font-size: 20px;
}
.header-menu-top ul li a:hover {
    color: #c3002f;
}
.header-menu-btt {
    border-top: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.btt-right li a {
    color: #000000;
    font-size: 17px;
}
.btt-right li a:hover,
.btt-left li a:hover {
    color: #c3002f;
}
.btt-left {
    display: flex;
    gap: 40px;
}
.btt-left li a {
    color: #000000;
    font-size: 17px;
}
.big-title h1 {
    text-align: center;
    margin-top: 70px;
}
.event {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 0px 30px;
}
.event > h4 > li > .bi {
    font-size: 20px;
    color: #c3002f;
}
.event > h4 > li > a {
    font-size: 20px;
    color: #000000;
}
.container {
    width: 1470px;
    margin: 0 auto;
}
.sale {
    border-left: 5px solid #eeeeee;
    height: 90px;
    display: flex;
    align-items: center;
}
.sale h5 {
    font-weight: 500;
}
th,
td {
    text-align: center;
}
table,
th,
td {
    border: 1px solid rgb(203, 201, 201);
    border-collapse: collapse;
}
thead {
    height: 70px;
}
tr {
    height: 40px;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
}
.table-tk {
    display: flex;
    justify-content: center;
}
thead {
    background-color: #c3002f;
    color: #ffffff;
}
.appli {
    margin-top: 40px;
}
.endow {
    margin-top: 40px;
    width: 1000px;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.endow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.endow p {
    margin-top: 10px;
}
.share {
    margin-top: 40px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.btn4 {
    background-color: #c3002f;
    font-size: 20px;
    display: block;
    width: 350px;
    height: 65px;
    top: 200px;
    left: 80px;
    color: #ffff;
    z-index: 1;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
}
.btn4:hover {
    background-color: #9b0606;
    color: #ffff;
}
.back {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}
.blog-items {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.blog-item {
    width: 32%;
}
.blog-item a img {
    width: 100%;
}
.blog-item-content a {
    color: #000000;
}
.blog-item-content button {
    font-size: 20px;
    background-color: #f5f5f5;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day {
    color: #333;
}
