/* General Styles */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
.header{
    display: flex;
    margin-right: 30px;
}
.logo{
    width: 128px;
    margin: 20px 0px 5px 50px;
}
.menu {
    width: 100%;
    font-size: 14px;
}
.menu-top{
    border-bottom: 1px solid #333;
    margin-top: 20px;
}
.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
.menu-top .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    
    margin-right: 15px; /* Đặt margin-right là 0 để cân đối với trang */
    text-transform: uppercase;
    text-align: left;
    line-height: 21px;
}
.nav-link:hover {
    color: #ff0000;
}
.nav-link.sanpham{
    color: #ff0000;
}
.menu-bottom{
    position: relative;
}
.menu-bottom .nav-link {
    padding: 10px 10px; /* Giảm khoảng cách giữa các mục menu */
    display: block;
    transition: color 0.3s;
    margin-right: 25px; /* Đặt margin-right là 0 để cân đối với trang */
    text-align: left;
    line-height: 21px;
}
.LH {
    position: relative;
    top: -30px;
    margin-left: 10px;
}
body {
    margin: 0px;
    overflow-x: hidden !important;
    font-family: Montserrat, sans-serif !important;
    color: #000000;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.container > .title {
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 1.5em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.items-row {
    display: flex;
    justify-content: space-between;
}
.xe1 {
    flex-basis: 30%;
}
.name {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.price-offer {
    padding-top: 10px;
    padding-bottom: 15px;
}
.xe1 img {
    width: 100%;
    margin: 20px 0;
}
.btn_item a {
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid #eeee;
    border-bottom: 1px solid #eeee;
    padding: 10px 10px;
    display: block;
    color: #343434;
    text-transform: uppercase;
    width: 100%;
    margin: 10px auto;
    position: relative;
    justify-content: space-between;
}
.btn_item a:hover {
    border-top: 1px solid #C3002F;
    border-bottom: 1px solid #C3002F;
    background: #C3002F;
    color: #FFFFFF !important;
}
.btn_item a:hover i {
    color: #FFFFFF !important;
}
.btn_item a i {
    position: absolute;
    right: 15px;
    top: 13px;
    padding-left: 5px;
    color: #C3002F;
    font-size: 14px;
}
.fa-chevron-right:before {
    content: "\f054";
}
.incentives > .title {
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.incentives > .title::before {
    content: '';
    background: url(../images/Sanpham/line.svg);
    position: absolute;
    width: 100px;
    height: 5px;
    top: -15px;
    left: 0;
}
.qc {
    flex-basis: 30%;
}
.qc img {
    width: 100%;
    margin: 20px 0;
}
.qc >p{
    font-size: 18px;
}
.view-detail {
    margin: 20px 0;
}
.view-detail a {
    display: block;
    width: 50%;
    font-size: 15px;
    color: #343434;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #eeee;
}
.view-detail a i {
    padding-left: 10px;
    font-size: 13px;
    color: #C3002F;
}
footer {
    width: 100%;
    background-color: #232323;
    color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-btt {
    width: calc(100%-30%);
    margin-left: 30px;
}
.footer-title {
    width: 25%;
}
ul{
    padding-left: 2rem;
    margin-bottom: 1rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact li a {
    color: #ffff;
    font-size: 18px;
}
.social {
    width: 25%;
    gap: 10px;
}
.social h4 {
    margin-left: 30px;
    margin-bottom: 50px;
}
.contact-social {
    display: flex;
    gap: 10px;
}
.contact-social a {
    color: #ffff;
}
.contact-social .bi {
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #c1c1c1;
}
.footer-btt-content strong,
.footer-btt-content p {
    font-size: 15px;
}
.footer-btt-content {
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
}
.footer-btt {
    margin-top: 30px;
}
.footer-btt-bottom {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    color: #ffff;
    padding: 10px;
}

/* Media Queries */
/* Media Queries */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}
@media(max-width: 768px) {
    .container {
        margin: 0 20px;
    }
    .container > .title {
        font-size: 30px;
    }
    .items-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .xe1 {
        flex-basis: 48%;
        margin-bottom: 20px;
    }
    .view-detail a {
        width: 80%;
    }
    .qc {
        flex-basis: 48%;
    }
}
.totop {
    position: fixed;
    bottom: -100px;
    right: 0%;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.totop img {
    width: 55px;
    height: 55px;
}
.list-options {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons {
    position: fixed;
    bottom: 100px;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 55px;
    
}
.list-icons li{
    height: 54.5px;
}
.list-icons li img {
    border-bottom: 1px solid #ffff;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.list-options .list-titles {
    padding-left: 0px;
    display: none;
}
.list-titles {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 100px;
    right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.list-titles li {
    width: 100%;

    list-style: none;
    display: flex;
}
.list-titles li a {
    width: 100%;
    height: 33.9px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 13px;

}
.list-titles li:not(:last-child) a {
    border-bottom: 1px solid #ffffff;
}
.list-titles li a:hover {
    padding-left: 20px;
    width: 100%;
    background-color: #c3002f;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
